<div>
    <h1 class="heading">Expired Polls</h1>
  
    <div class="polls-container">
      <div class="poll-card" *ngFor="let poll of expiredPolls | paginate: { itemsPerPage: 2, currentPage: page }">
        <h2 class="question">{{ poll.question }}</h2>
        <p class="creator">Created by: {{ poll.createdBy?.firstName }} {{ poll.createdBy?.lastName }}</p>
        <p class="created-at">Created at: {{ poll.createdAt | date: 'medium' }}</p>
  
        <div class="options">
          <div class="option" *ngFor="let choice of poll.choices">
            <div class="option-text">{{ choice.text }}</div>
            <div class="vote-info">
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="getVotePercentage(choice.voteCount)"></div>
              </div>
              <span class="vote-count">{{ choice.voteCount }} votes</span>
            </div>
          </div>
        </div>
  
        <div class="summary">
          <p class="total-votes">Total Votes: {{ getTotalVotes(poll.choices) }}</p>
          <p class="most-voted">
            Most Voted Option:
            <ng-container *ngIf="getMostVotedOption(poll.choices).length === 0"> N/A </ng-container>
            <ng-container *ngIf="getMostVotedOption(poll.choices).length === 1">
              {{ getMostVotedOption(poll.choices)[0].text }}
            </ng-container>
            <ng-container *ngIf="getMostVotedOption(poll.choices).length > 1">
              <span *ngFor="let option of getMostVotedOption(poll.choices); let last = last">
                {{ option.text }}<span *ngIf="!last">, </span>
              </span>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
  
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  